:root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  --purple: #321063;
  --light-purple: #7756B7;
  --v-light-purple: #bba1de5a;
  --gold-gradient: linear-gradient(45deg, #FFC107 0%, #FFD54F 100%); 
  --gold: #edaf2bec; 
}

.light-purple {
  background-color: var(--light-purple);
}

.purple {
  background-color: var(--purple);
}

body {
  margin: 0; 
  padding: 1rem;
  background-image: url('/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden; 
  width: 100vw;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/background-cover.svg'); 
  opacity: 0.7; 
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.main{
  height: 600px !important;
  justify-content: center;
  align-items: center;
  width: 1264px !important;
 
}


.grand-parent{
  /*center items vertical and horizontal*/
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-border{
  border-bottom-right-radius: 75%;
  border-top-right-radius: 75%;
}

.left-border{
  border-bottom-left-radius: 75%;
  border-top-left-radius: 75%;
}

.round-div{
  width: 350px;
  height: 350px;
  /*with a white border*/
  border: 2px solid white;
  border-radius: 50%;
}

.mid-circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: conic-gradient( from 18deg, var(--v-light-purple) 0% 30%, transparent 30% 60%, var(--gold) 20% );
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  margin-left: 12px;
  border: 0px;
  animation-duration: 3s;
  animation-name: fillGauge;
  animation-timing-function: ease-out;
}


/* @keyframes fillGauge {
 
  to {
    background: conic-gradient( from 18deg, #552755 0% 30%, transparent 30% 60%, yellow 60% 100% );
  }
} */


.child-circle {
  width: 294px;
  height: 295px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
  background-color: #2d0d5d;
  position: absolute;
}

.smallest-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
  background: radial-gradient(#535353af, #252525, #0f0f0f, black);
  position: absolute;
  box-shadow: #7756B7 0 0 100px;
}

.p50{
  position: absolute;
  top: 1px;
}

.p100 {
  position: absolute;
  top: 220px;
  right: 30px;
}

.p85 {
  position: absolute;
  top: 160px;
  right: 5px;
}

.p75 {
  position: absolute;
  top: 90px;
  right: 10px;
}

.p65 {
  position: absolute;
  top: 34px;
  right: 50px;
}

.p35 {
  position: absolute;
  top: 34px;
  left: 54px;
}

.p25 {
  position: absolute;
  top: 90px;
  left: 10px;
}

.p10 {
  position: absolute;
  top: 160px;
  left: 4px;
}

.p0 {
  position: absolute;
  top: 220px;
  left: 30px;
}


.white-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.light-purple-text {
  color: var(--light-purple);
  font-size: 14px;
  font-weight: 600;
}

.light-background {
  background-color: rgba(255, 255, 255, 0.056) !important;
  opacity: 0.1;
}

.timeline-container {
  position: relative;
  overflow: hidden;
}


.nav-icon {
  animation-name: moveIcon;
  animation-fill-mode: forwards; 
}

@keyframes moveIcon {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(calc(-100% + var(--progress) * 100%));
  }
}

.icon-input {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%237756B7" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M8 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.weather-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%237756B7" class="bi bi-cloud-sun-fill" viewBox="0 0 16 16"><path d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"/><path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708l.707-.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708l-.708-.707zm1.734 3.374a2 2 0 1 1 3.296 2.198c.199.281.372.582.516.898a3 3 0 1 0-4.84-3.225c.352.011.696.055 1.028.129zm4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377zM14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px
}

